@import 'https://fonts.googleapis.com/css?family=Montserrat';

body
{
    font-family: 'Montserrat', sans-serif;
    padding-top: 90px;
}

.navbar-brand, .navbar-nav li a
{
    line-height: 90px;
    height: 90px;
    padding-top: 0;
}

.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse
{
    max-height: 100%;
}

.navbar-header img
{
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover
{
    background-color: rgba(255, 255, 255, 0);
}

.navbar-default .navbar-toggle
{
    border-color: rgba(255, 255, 255, 0);
}

.navbar-toggle
{
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.bail-home h1
{
    line-height: 1.5;
    margin-top: 0px;
}

.bail-home
{
    line-height: 1.5;
    padding-top: 60px;
}

.bail-home
{
    background-color: #333;
    background-image: url(../img/video.if);
    background-size: cover;
    color: #fff;
    height: 500px;
    background-attachment: fixed;
}

.bail-button
{
    font-size: 18px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    width: 200px;
    text-align: center;
    border: 1px solid #070707;
    border-radius: 3px;
    transition-duration: 0.2s;
}

.bail-button:hover
{
    background-color: #000;
}

.bail-home a
{
    color: #eaeaea;
}

.bail-home a:hover
{
    text-decoration: none;
}

.bail-section
{
    background-color: #ffffff;
    padding: 30px;
}

.bail-main-home
{
    background-color: #eee;
}

.navbar-default
{
    background-color: #fff;
    border: 1px solid #ddd;
}

.navbar-default .navbar-nav>li>a
{
    color: #444;
    transition-duration: 100ms;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover
{
    color: #222;
    border-top: 3px solid #333;
}

.navbar-default .navbar-brand
{
    color: #333;
}

.bail-holder
{
    background-image: url(../img/bg-pattern.png);
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.our-capabilities
{
    background-color: #fff;
    padding: 30px;
    margin: 80px;
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    border-radius: 5px;
}

.home-main
{
    background-color: rgba(213, 219, 227, 0.8);
}

.our-capabilities h2
{
    text-align: center;
}

.bail-gif
{
    height: 150px;
}

.bail-pencil
{
    text-align: center;
}

.bail-design li
{
    padding-top: 8px;
    padding-left: 30px;
}